<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container general-text">
  <div class="row">
    <div class="col">
      {% if bag_items %} {% for item in bag_items %} {{ bag_items }}
      <p>Room: {{ item.room }}</p>
      <p>Number of players: {{ item.num_of_players }}</p>
      <p>Date: {{ item.date }}</p>
      <p>Time: {{ item.time }}</p>
      <a class="btn btn-primary delete_item" id="delete_{{ item.item_id }}">Delete</a>
      {% endfor %} {% else%}
      <p>You have no bookings</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
$('.delete_item').click(function() {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('delete_')[1];
    var url = `/bag/delete/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken};
    
    $.post(url, data).done(function() {
        console.log("post reached")
        location.reload();
    }).fail( function() {
        console.log("post failed");
    });
});
</script>
{% endblock %}

 