<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h2>Contact Us</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        To view our escape experiences and book a room, visit <a href="{% url 'our_rooms' %}">Our Rooms.</a> If you have a general
        enquiry, please email us at bakerstreetescape@gmail.com or call us on
        221b
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Opening Hours</h2>
      <p>
        Monday-Thursday: 10AM-9PM<br />
        Firday-Sunday: 9AM-11PM
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Where To Find Us</h2>
      <p>Insert Map</p>
    </div>
  </div>
</div>
{% endblock %}