<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>What is an escpape room?</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
      Baker Street Escape Rooms are for anyone who enjoys problem solving, team work and
        the thrill of outwitting the challenges laid before you and being.
        You will have 1 hour to complete each room by solving different kinds of challenges to find a key, open a secret passage way...and escape.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="#" alt="" />
    </div>
  </div>
</div>
<hr>
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Who Are We?</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Baker Street Escape Rooms have been baffling players for over 5 years. Our escape rooms throw you and your team mates into the elaborate universe of the worlds only consulting detective himself- Sherlock
        Holmes. We have three playable rooms for you to choose from- Watson!, A Study In Pink and Morairtys Madness. Each room has a different storyline and challenges for you to overcome.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="#" alt="" />
    </div>
  </div>
</div>
<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Who Can Play?</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
         In terms of
        age, they are appropriate for almost anyone for the age of 5 to 105. We are wheelchair accessable. Please contact us if you have specific queries about wheelchair accessability.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="#" alt="" />
    </div>
  </div>
</div>

<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Our Rooms</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Watson!</h3>
      <p></p>
    </div>
    <div class="col-4">
      <h3>A Study In Pink</h3>
      <p></p>
    </div>
    <div class="col-4">
      <h3>Moriartys Madness</h3>
      <p></p>
    </div>
  </div>
</div>
<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>FAQ's</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    <h3><u>Am I really locked in?</u></h3>
      <p>No. You are never actually locked into our rooms. If you want or need to leave, then you can at anytime.</p>
      <h3><u>Do you accept walk-ins?</u></h3>
      <p>Of course! If we have availability, we would be happy for your group to tackle one of our rooms. However, it is better to book in advance</p>
      <h3><u>I've never been to an escape room before. How do I play?</u></h3>
      <p>Once you have arrived your dedicated GameMaster will explain the rules to you before you enter your chosen room. This is why we ask you to arrive 15 before your scheduled game time.</p>
    </div>
    <div class="col-6">
    <h3><u>What if I can't work out a puzzle?</u></h3>
      <p>You will have a dedicated GameMaster who will be on hand to assist you with hints throughout your game. Each room will have a way to contact your GameMaster, this will be explained to you in detail before you play.</p>
    <h3><u>Cancellation Policy</u></h3>
      <p>If you need to cancel or change your booking date, we require at least 48 hours notice beofre your scheduled games start time.</p>
      <h3><u>How much time will I have?</u></h3>
      <p>You will have 1 hour to complete the room. Please arrive 15 minutes before your game is due to start.</p>
      </div>
    </div>
  </div>
{% endblock %}
