<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Leaderboards</u></h2>
    </div>
  </div>
</div>

<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Watson!</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><u>Team Name</u></p>
      <ol>
        <li>Bananarama</li>
        <li>Foo Fighters</li>
        <li>Q E Who?</li>
      </ol>
    </div>
    <div class="col-6">
      <p><u>Time</u></p>
      <ol>
        <li>39mins 21 secs</li>
        <li>45 mins 50 secs</li>
        <li>46 mins 17 secs</li>
      </ol>
    </div>
  </div>
</div>

<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>A Study In Pink</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><u>Team Name</u></p>
      <ol>
        <li>Bananarama</li>
        <li>Foo Fighters</li>
        <li>Q E Who?</li>
      </ol>
    </div>
    <div class="col-6">
      <p><u>Time</u></p>
      <ol>
        <li>39mins 21 secs</li>
        <li>45 mins 50 secs</li>
        <li>46 mins 17 secs</li>
      </ol>
    </div>
  </div>
</div>

<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Moriartys Madness</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><u>Team Name</u></p>
      <ol>
        <li>Bananarama</li>
        <li>Foo Fighters</li>
        <li>Q E Who?</li>
      </ol>
    </div>
    <div class="col-6">
      <p><u>Time</u></p>
      <ol>
        <li>39mins 21 secs</li>
        <li>45 mins 50 secs</li>
        <li>46 mins 17 secs</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}