<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h2><u>Leaderboards</u></h2>
    </div>
  </div>
</div>

<div class="container">
    {% for leaderboards in leaderboards %}
    <div class="row">
      <div class="col">{{ leaderboards.room_name }}</div>
    </div>
    <div class="row">
      <div class="col-4">1- Team Name: {{ leaderboards.team_1_name }}</div>
      <div class="col-4">2- Team Name: {{ leaderboards.team_2_name }}</div>
      <div class="col-4">3- Team Name: {{ leaderboards.team_3_name }}</div>
    </div>
    <div class="row">
      <div class="col-4">Time: {{ leaderboards.team_1_time }}</div>
      <div class="col-4">Time: {{ leaderboards.team_2_time }}</div>
      <div class="col-4">Time: {{ leaderboards.team_3_time }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
