<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center general-text">
  <div class="row">
    <div class="col">
      <h1><u>Our Rooms</u></h1>
    </div>
  </div>
</div>
<div class="container text-center general-text">
  <div class="row">
    <div class="col-4">
      <h2 id="watson_rooms"><u>Watson!</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><img src="{% static 'images/watson!_img.jpg' %}" alt="Watson!"></div>
    <div class="col-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec aliquet
        tellus. Nullam pulvinar mattis lacus, ut porttitor nunc condimentum nec.
        Cras commodo posuere velit mollis mattis. Proin mi quam, placerat id
        rutrum ut, cursus et enim. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Donec eget rhoncus orci. Sed ultrices mattis risus,
        non accumsan lacus feugiat a. Morbi sodales, justo nec dignissim
        placerat, magna lectus dapibus nunc, at euismod justo ante nec erat.
        Pellentesque elit dolor, sodales id velit vitae, lobortis condimentum
        leo. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="#" id="watson_room_btn">See Room Availabailty and Book Now</a>
    </div>
  </div>
</div>

<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col-4">
      <h2 id="study_in_pink_rooms"><u>A Study In Pink</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><img src="{% static 'images/rache.jpg' %}" alt="Rache"></div>
    <div class="col-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec aliquet
        tellus. Nullam pulvinar mattis lacus, ut porttitor nunc condimentum nec.
        Cras commodo posuere velit mollis mattis. Proin mi quam, placerat id
        rutrum ut, cursus et enim. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Donec eget rhoncus orci. Sed ultrices mattis risus,
        non accumsan lacus feugiat a. Morbi sodales, justo nec dignissim
        placerat, magna lectus dapibus nunc, at euismod justo ante nec erat.
        Pellentesque elit dolor, sodales id velit vitae, lobortis condimentum
        leo. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="#" id="pink_room_btn">See Room Availabailty and Book Now</a>
    </div>
  </div>
</div>

<hr />
<div class="container text-center general-text">
  <div class="row">
    <div class="col-4">
     <a id="moriarty_rooms"><h2><u>Moriartys Madness</u></h2></a>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><img src="{% static 'images/moriarty_img.jpg' %}" alt="Moriarty"></div>
    <div class="col-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec aliquet
        tellus. Nullam pulvinar mattis lacus, ut porttitor nunc condimentum nec.
        Cras commodo posuere velit mollis mattis. Proin mi quam, placerat id
        rutrum ut, cursus et enim. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Donec eget rhoncus orci. Sed ultrices mattis risus,
        non accumsan lacus feugiat a. Morbi sodales, justo nec dignissim
        placerat, magna lectus dapibus nunc, at euismod justo ante nec erat.
        Pellentesque elit dolor, sodales id velit vitae, lobortis condimentum
        leo. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="#" id="moriarty_room_btn">See Room Availabilty and Book Now</a>
    </div>
  </div>
</div>
{% endblock %}