<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col general-text text-center">{% if bag_items %} {% for item in bag_items %}
            <h2>Your booking</h2>
            <p>Room: {{ item.room_title }}</p>
            <p>Number of players: {{ item.num_of_players }}</p>
            <p>Date: {{ item.date }}</p>
            <p>Time: {{ item.time }}</p>

            {% endfor %}
            <h2>Total: €{{ total }}</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col general-text text-center">
            <h1>Please fill out the form below </h1>
        </div>
    </div>
    <div class="row">
        <div class="col general-text">
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                {{ orderinfo.full_name | as_crispy_field}}
                {{ orderinfo.email | as_crispy_field}}
                {{ orderinfo.phone_number | as_crispy_field }}
                {{ orderinfo.street_address1 | as_crispy_field}}
                {{ orderinfo.street_address2 | as_crispy_field}}
                {{ orderinfo.town_or_city | as_crispy_field}}
                {{ orderinfo.county | as_crispy_field}}
                {{ orderinfo.postcode | as_crispy_field}}
                {{ orderinfo.country | as_crispy_field}}
                <h3>Your card will be charged €{{ total }}</h3>

            </form>
        </div>
    </div>
</div>
<div id="card-element" class="container">
    <div class="row">
        <div class="col general-text">
            {{ stripe_public_key|json_script:"id_stripe_public_key" }}
            {{ client_secret|json_script:"id_client_secret" }}
            <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
        </div>
    </div><br>
    <div class="row">
        <div class="col"><a href="{% url 'payment' %}" class="btn btn-primary" id="cont_to_payment">Submit</a></div>
    </div>
</div>
{% endblock %}