<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col heading-text text-center">{{ room_title }}</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form
        action="{% url 'add_to_bag' id %}"
        method="POST"
        class="general-text"
      >
        {% csrf_token %} {{ form.num_of_players | as_crispy_field }} {{ form.date | as_crispy_field}} {{ form.time | as_crispy_field}}
        <input class="btn btn-danger" type="submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
