<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container general-text">
  <div class="row">
    {% for item in watson %}
    <div class="col-2">{{ item.room_title }}</div>
    <div class="col-2">€{{ item.price }} per person</div>
    <div class="col-4">{{ item.room_description }}</div>
    <div class="col-4">{{ item.room_image }}</div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="{% url 'bag' %}" method="POST" class="general-text">
        {% csrf_token %} {{ form.num_of_players }} {{ form.date }} {{ form.time }}
        <input type="submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
